@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/* .navbar {
    position: absolute;
} */

#navbar-font {
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    font-weight: bold;
}