@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.login-img {
    padding-right: 3;
}

.login-name {
    padding-left: 3;
}

#navbar-font {
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    font-weight: bold;
}
